*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 30% ,rgb(255, 255, 255) 400% );
}
main{
    height: 100vh;
}
.divPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 20px;
    width: 30%;
    height: 80vh;
}

.digitarEmail{
    width: 20vw;
    margin-top: 10px;
    height: 7vh;
    border-radius: 10px;
}
.digitarSenha{
    width: 20vw;
    margin-top: 10px;
    height: 7vh;
    border-radius: 10px;
    text-align: 200px;
    
}
.botaoSubmit{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    background-color: black;
}
.nomes{
    font-size: 30px;
}
#termos{
    width: 20vw;
}
.decorarSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    /* width: 20vw; */
    margin-top: 20px;
    /* height: 6vh; */
    /* border-radius: 10px; */
}